<!DOCTYPE html>
<html>
<head>
<style>
img {
     max-width: 80%;
     height: 318px;
     width: 458px;
    }
div {
 display: inline-block;
 white-space: nowrap;
}
</style>
</head>
<body class="align_content_middle" style="text-align:center; background-color:lightgrey">

<h2 style="text-align:center">Factors Lead to Win NBA Games</h2>


 <img src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png?transparent=true" alt="NBA1" style="width:284px;height:228px;">
 <img src="https://dff2h0hbfv6w4.cloudfront.net/images/backgrounds/nba.jpg" alt="NBA1" style="width:484px;height:228px;">

<br></br>


</p>
<p> This website will show the relationship between Game stats and Winning Rate </p>
<p> By clicking the following buttons, relationships will show on the Graphs accordingly. </p>
<p> Expected Contributions: </p>
<p> help analyze critical factors lead to a NBA basketball win </p>
<p> help team build with different types of players who are able to contribute those critical factors </p>
<p> help a team know which part they need to emphasize in order to get a better won rate </p>


 <div>
  <form method= "post" action="button1">
  <p><input type = "submit" value= "Total Rebound"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button2">
  <p><input type = "submit" value= "Defense Rebound"/> </p>
  </form>
 </div>



 <div>
  <form method= "post" action="button3">
  <p><input type = "submit" value= "Offensive Rebound"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button4">
  <p><input type = "submit" value= "Assist"/> </p>
  </form>
 </div>

<div>
  <form method= "post" action="button5">
  <p><input type = "submit" value= "Turnover"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button6">
  <p><input type = "submit" value= "Block"/> </p>
  </form>
 </div>

<br></br>

 <div>
  <form method= "post" action="button7">
  <p><input type = "submit" value= "Field Goal"/> </p>
  </form>
 </div>

  <div>
  <form method= "post" action="button8">
  <p><input type = "submit" value= "Three Point"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button9">
  <p><input type = "submit" value= "Free Throw"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button10">
  <p><input type = "submit" value= "Steal"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button11">
  <p><input type = "submit" value= "Personal Foul"/> </p>
  </form>
 </div>

 <div>
  <form method= "post" action="button12">
  <p><input type = "submit" value= "Overview"/> </p>
  </form>
 </div>






</body>
</html>
